body {
 background-color: #639A88;
}
h1{
  font-size:300%;
  letter-spacing: 6px;
  color: #51BC;
  text-decoration: underline;
  font-family: "Verdana";
}
p{
  font-size: 200%;
  color: #51BC;
}
img{
  width: 500px;
  border-style: ridge;
  border-color: #51BC;
}
ul{
  text-align: center;
  list-style-type: none;
  font-family: "Papyrus";
    position: fixed;
}
li{
  float: left;
  
}
li a{
  padding: 20px;
  color: #ABDAFC;
  border: ridge;
}
li a:hover{
  background-color: #51BC
}
}
